<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- my-css -->
    <link rel="stylesheet" href="/my-css/confirmation.css">
</head>
<body>
    <div class="rounded bg-white m-w-85 py-4 py-lg-5 px-3 px-lg-4 pb-4 width-30">
        <h5 class="fs-095 mb-4 text-center" id="title_conf"></h5>
        <p class="mb-3 fs-075 text-muted text-center mb-4" id="text_conf">
            
        </p>
        <p class="mb-4 fs-07 text-muted mb-4 d-none" id="ct">
            <span class="f-w-b">NB : </span> Ne supprimer pas le produit même si vous ne l'avez pas en stock.
        </p>
        <div class="between">
            <a href="" id="link_conf">
                <button class="bx-s-6 br-06 bg-danger py-2 width-5 text-white border-0 f-w-b">
                    OUI
                </button>
            </a>
            <button type="button" id="exit_conf" class="bx-s-6 br-06 bg-success py-2 width-5 text-white border-0 f-w-b">
                NON
            </button>
        </div>
    </div>
</body>
</html>