<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="bg-black" style="padding-top: 7rem;">
        <div class="text-white center mb-5">
            <div class="column-center m-3 m-lg-5">
                <h5 class="mb-3" style="font-size: 2rem;">
                    Réseaux sociaux
                </h5>
                <div class="horizontal-center">
                    <a href="" class="m-2">
                        <img src="/logo/f.jpg" class="width-3 height-3 bx-s-10" alt="">
                    </a>
                    <a href="https://wa.me/+221777781562" class="m-2">
                        <img src="/logo/w.jpg" class="width-3 height-3 bx-s-10" alt="">
                    </a>
                    <a href="" class="m-2">
                        <img src="/logo/i.jpg" class="width-3 height-3 bx-s-10 br-08" alt="">
                    </a>
                    <a href="" class="m-2">
                        <img src="/logo/t.jpg" class="width-3 height-3 bx-s-10" alt="">
                    </a>
                    <a href="" class="m-2">
                        <img src="/logo/tt.jpg" class="width-3 height-3 bx-s-10 br-08" alt="">
                    </a>
                </div>
            </div>
            <div class="m-3 m-lg-5">
                <h5 class="mb-3" style="font-size: 2rem;">
                    Contacts & Adresse
                </h5>
                <div class="fs-08 mb-3 f-w-b">
                    <i class="fas fa-phone"></i>
                    33 825 25 25 / 77 418 18 18 / 76 527 07 07
                </div>
                <div class="fs-08 mb-3">
                    <i class="fas fa-home"></i>
                    Station Keur Massar en face banque CBEAO
                </div>
                <div class="fs-08 mb-3">
                    <i class="fas fa-bus"></i>
                    Bus passant chez nous : 27, 45, 30, 101
                </div>
                <div class="fs-08 mb-3">
                    <i class="fas fa-envelope"></i>
                    shop.shoes@gmail.com
                </div>
            </div>
        </div>
        <div class="text-center bg-light fs-075 py-3 px-3 br-06">
            Shop Shoes Chaussures & Accessoires ANNEE @2023
        </div>
    </div>
</body>
</html>