@media screen and (min-width: 0) and (max-width:400px){
    #title_page{
        font-size: 0.9rem !important;
    }

    /* <!-- produit list --> */
    .article_product{
        width: 9rem !important; height: 15rem !important;
    }
    .img_product{
        height: 8rem;
    }
    .title_product{
        font-size: 0.75rem !important;
    }
}
@media screen and (min-width:401px) and (max-width:700px){
    /*  <!-- section title --> */
    #title_page{
        font-size: 0.95rem !important;
    }

    /* <!-- produit list --> */
    .article_product{
        width: 11rem !important; height: 15rem !important;
    }
    .img_product{
        height: 8rem;
    }
    .title_product{
        font-size: 0.75rem !important;
    }
}
@media screen and (min-width:701px) and (max-width:1000px){
}

@media screen and (min-width:1001px){
   
}